    @font-face {
      font-family: 'Roboto';
      src: url('ProximaNovaExCn-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Proxima Nova';
      src: url('ProximaNovaCond-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Proxima Nova';
      src: url('ProximaNovaCond-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }