/*
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;


  
      src:
           url("/ProximaNova/ProximaNova-Reguler.woff") format("woff");
    }
    */

    @font-face {
      font-family: 'Roboto';
      src: url('ProximaNovaExCn-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Proxima Nova';
      src: url('ProximaNovaCond-Bold.eot');
      src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
        url('ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaCond-Bold.woff') format('woff'),
        url('ProximaNovaCond-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }